<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <el-header>
                <template>
                        <el-row>
                        <el-button type="primary" @click="helpVisible=true" style="margin-top: 5">点我打开帮助</el-button>
                        <el-button type="primary" @click="storeConfig()" style="margin-top: 5">点我保存当前配置</el-button>
                        </el-row>
                </template>
        </el-header>
        <el-main>
            <template>
                <el-table  :data="unitFilters" border style="width: 100%" @select-all="handleSelectAll" @select="toggleFilterSelect" stripe>
                    <el-table-column
      type="selection"
      
      width="40">
    </el-table-column>
                    <el-table-column prop="limitOption.ruleName" label="规则" align="center" width="200"></el-table-column>

                    <el-table-column fixed="right" label="范围设定" align="center">
                        <template slot-scope="scope">
                            <el-button :type="unitFilters[scope.$index].limitOption.isGlobal?'primary':'default'" @click.native.prevent="toggleAsGlobal(scope.$index, unitFilters)">设为全局限制</el-button>
                            <el-button :offset="50" @click.native.prevent="setUnitRange(scope.$index, unitFilters)">选择角色范围</el-button>
                            <el-button :offset="50" @click.native.prevent="setClassRange(scope.$index, unitFilters)">选择职业范围</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column fixed="right" label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button @click.native.prevent="editLimit(scope.$index, unitFilters)" icon="el-icon-edit"></el-button>
                            <el-button @click.native.prevent="deleteLimit(scope.$index, unitFilters)" icon="el-icon-delete"></el-button>
                            <el-button @click.native.prevent="copyLimit(scope.$index, unitFilters)" icon="el-icon-document"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-row>
                    <el-col :span="8">
                        <div style="margin-top: 20px">
                            <el-button @click="newLimitForm">添加限制项</el-button>
                            <el-button type="danger" @click="clearTable(unitFilters)">清空配置</el-button>

                        </div>
                    </el-col>
                    <el-col :span="16">
                        <div style="margin-top: 20px" align="right">
                            <el-button type="primary" @click="generateTeam(unitFilters)" width="120">{{drawButton}}</el-button>
                        </div>
                    </el-col>
                </el-row>

                <div style="margin-top: 20px" v-if="hasErr">
                    <template>
                        <el-alert
                          :title="errAbstract"
                          :description="errInfo"
                          type="error">
                        </el-alert>
                      </template>
                </div>
                <div v-if="hasteam">
                    <el-table :data="team" border style="width: 100%;margin-top:50" stripe>
                        <el-table-column prop="Name" label="名字" align="center"></el-table-column>
                        <el-table-column prop="Class" label="职业" align="center" width="240"></el-table-column>
                        <el-table-column prop="Lv" label="等级" align="center" width="120"></el-table-column>
                        <el-table-column prop="Rare" label="稀有度" align="center" width="180"></el-table-column>
                    </el-table>
                </div>

                
                <el-dialog title="提示" :visible.sync="helpVisible" width="70%">
                        <p>1.全局限制要求整个队伍满足，非全局限制只要求队伍的某个子集满足</p>
                        <p>2.非全局限制过多会显著提高计算时间，请斟酌使用</p>
                        <p>3.算法不会遍历所有可能，所以非全局限制大于1条时匹配失败并不表明一定不可能匹配成功，可以多尝试几次</p>
                        <p>4.无论在哪个条件下指定的单位限制都是全局有效的，而职业限制仅对该项条件有效</p>
                        <p>5.每个条件指定单位的页面中备选单位仅显示符合目前该项一般条件和职业限制的</p>
                        <p>6.当前使用贪心算法匹配非全局限制，有更优雅地算法请大力CALL我_(:з」∠)_</p>
                        <span slot="footer" class="dialog-footer">
                            <el-button type="primary" @click="helpVisible = false">确 定</el-button>
                        </span>
                    </el-dialog>
                <el-dialog title="备选名单" :visible.sync="cardsFormVisible" width="900">
                    <el-table :data="unitCheckList" border stripe max-height="500" :default-sort = "{prop: 'Rare', order: 'descending'}" @current-change="resetCardCheckState">
                        <el-table-column prop="Name" label="名字" align="center" sortable></el-table-column>
                        <el-table-column prop="Class" label="职业" align="center" sortable width="180"></el-table-column>
                        <el-table-column prop="Lv" label="等级" align="center" sortable width="80"></el-table-column>
                        <el-table-column prop="Rare" label="稀有度" :sort-method="rareSortMethod" align="center" sortable width="100"></el-table-column>
                        <el-table-column fixed="right" label="选定规则" align="center" width="220">
                            <template slot-scope="cardscope">
                                <div>
                                    <el-radio-group v-model="unitCheckState[cardscope.$index]" size="small">
                                        <el-radio-button @click.native.prevent="cardChangeCheck(cardscope.$index, unitCheckList, '必选')" label="必选"></el-radio-button>
                                        <el-radio-button @click.native.prevent="cardChangeCheck(cardscope.$index, unitCheckList, '移除')" label="移除"></el-radio-button>
                                        <el-radio-button @click.native.prevent="cardChangeCheck(cardscope.$index, unitCheckList, '随机')" label="随机"></el-radio-button>
                                    </el-radio-group>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-dialog>

                <el-dialog title="职业清单" :visible.sync="classFormVisible" width="600" :default-sort = "{prop: 'Name', order: 'descending'}">
                    <el-table :data="scroll.classList" border stripe max-height="500">
                        <el-table-column prop="Name" sortable label="职业名" align="center"></el-table-column>
                        <el-table-column prop="AttackMode" sortable label="站位" align="center" width="80"></el-table-column>
                        <el-table-column fixed="right" label="选定规则" align="center" width="220">
                            <template slot-scope="classscope">
                                <div>
                                    <el-radio-group v-model="classCheckState[classscope.$index]" size="small">
                                        <el-radio-button @click.native.prevent="classChangeCheck(classscope.$index, '必选')" label="必选"></el-radio-button>
                                        <el-radio-button @click.native.prevent="classChangeCheck(classscope.$index, '移除')" label="移除"></el-radio-button>
                                        <el-radio-button @click.native.prevent="classChangeCheck(classscope.$index, '随机')" label="随机"></el-radio-button>
                                    </el-radio-group>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-dialog>
                <el-dialog title="设置抽选限制" :visible.sync="limitFormVisible">
                    <el-form :model="limitForm" :rules="limitFormRules" ref="limitForm" label-position="right">
                        <el-form-item label="规则名称" prop="ruleName">
                            <el-col :span="10">
                                <el-input v-model="limitForm.ruleName"></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="人数范围" prop="num">
                            <el-col :span="2">
                                <el-input v-model="limitForm.num.lowest"></el-input>
                            </el-col>
                            <el-col class="line" :span="2" align="center">——</el-col>
                            <el-col :span="2">
                                <el-input v-model="limitForm.num.top"></el-time-picker>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="等级范围" prop="level">
                            <el-col :span="2">
                                <el-input v-model="limitForm.level.lowest"></el-input>
                            </el-col>
                            <el-col class="line" :span="2" align="center">——</el-col>
                            <el-col :span="2">
                                <el-input v-model="limitForm.level.top"></el-time-picker>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="稀有限制" prop="rare">
                            <el-checkbox-group v-model="limitForm.rare">
                                <el-checkbox-button v-for="(r,i) in scroll.rareList" :label="r" :key="i"></el-checkbox-button>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="育成限制" prop="stage">
                            <el-checkbox-group v-model="limitForm.stage">
                                <el-checkbox-button v-for="(s,i) in scroll.stage" :label="s" :key="i"></el-checkbox-button>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="兵营限制" prop="location">
                            <el-checkbox-group v-model="limitForm.location">
                                <el-checkbox-button v-for="(p,i) in scroll.location" :label="p" :key="i"></el-checkbox-button>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="仅已上锁">
                            <el-switch v-model="limitForm.locked" style="margin-top: 10px"></el-switch>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="limitFormVisible = false">取 消</el-button>
                        <el-button type="success" @click="submitLimitForm(limitForm)">确 定</el-button>
                    </div>
                </el-dialog>
            </template>
        </el-main>
    </div>
</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./popup.js"></script>
<script>

</script>

</html>