#app {
    font-family: "Microsoft YaHei";
}

[class*=" el-icon-"],
[class^=el-icon-] {
    line-height: inherit;
}

.el-collapse-item__header {
    color:#537ddf;
}

.classIcon {
    height:40px;
    width:40px;
}
/* .classIcon {
    position: relative;
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;
    display: inline-table;
    vertical-align: middle;
    margin-left:2px;
}

.classIcon:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#2ed6eb 0%, #0172b7 100%);
    box-shadow: 0 0 5px white;
    border-radius: 50%;
    opacity: 0.6;
    border: 1px solid white;
} */