<html>

<head>
    <meta charset="utf-8">
    <title>王国老黄历</title>
</head>

<body>
    <div id='app'>
        <ul id="pros" class="pros">
            <li v-for="pro in pros">
              <h3>{{ pro.Title }}</h3>
              <p>{{ pro.PositiveDesc }}/p>
            </li>
        </ul>
        <ul id="cons" class="cons">
            <li v-for="con in cons">
              <h3>{{ con.Title }}</h3>
              <p>{{ con.NegativeDesc }}/p>
            </li>
        </ul>
</div>
</body>



<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="./background.js"></script>
</html>